body {
    background-color: blue;
}

h1 {
    font-variant: transformers;
}

.main {
    background-color: white;

}

.tab {
    overflow: hidden;
    border: 1px solid blue;
    background-color: blue;


}

/* Style the buttons that are used to open the tab content */
.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    color: white;
    width: 33.33%;
    text-align: center;
    font-size: xxx-large;

}

/* Change background color of buttons on hover */
.tab button:hover {
    background-color: greenyellow;
    color: black;


}

/* Create an active/current tablink class */
.tab button.active {
    background-color: yellow;
    color: blue;


}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
    background-color: white;
}

.tabcontent {
    animation: fadeEffect 1s;
    /* Fading effect takes 1 second */
}

/* Go from zero to full opacity */
@keyframes fadeEffect {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.eventS {
    overflow: hidden;
    border: none;

    background-color: white;


}

/* Style the buttons that are used to open the tab content */
.eventS button {
    background-color: inherit;
    display: block;
    border: 1px solid #ccc;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    color: black;
    width: 100%;
    font-size: xx-large;
    text-align: left;
    

}

/* Change background color of buttons on hover */
.eventS button:hover {
    background-color: #ccc;
    color: black;
    font-size: xx-large;


}

/* Create an active/current tablink class */
.eventS button.active {
    background-color: #ccc;
    color: black;
    font-size: xx-large;


}

/* Style the tab content */
.eventcontent {
    display: none;
    padding: 6px 12px;
    width: 98%;
    height: 100%;
    border: 1px solid #ccc;
    border-top: none;
    background-color: white;
    font-size: xx-large;
}

.eventcontent {
    animation: fadeEffect 1s;
    /* Fading effect takes 1 second */
}

/* Go from zero to full opacity */
@keyframes fadeEffect {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

* {
    box-sizing: border-box;
    font-size: xx-large;
}

/* Remove margins and padding from the list */
ul {
    margin: 0;
    padding: 0;
    font-size: xx-large;
}

/* Style the list items */
ul li {
    cursor: pointer;
    position: relative;
    padding: 12px 8px 12px 40px;
    background: #eee;
    font-size: xx-large;
    transition: 0.2s;

    /* make the list items unselectable */
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Set all odd list items to a different color (zebra-stripes) */
ul li:nth-child(odd) {
    background: #f9f9f9;
    font-size: xx-large;
}

/* Darker background-color on hover */
ul li:hover {
    background: #ddd;
    font-size: xx-large;
}

/* When clicked on, add a background color and strike out text */
ul li.checked {
    background: #888;
    color: #fff;
    text-decoration: line-through;
}

/* Add a "checked" mark when clicked on */
ul li.checked::before {
    content: '';
    position: absolute;
    border-color: #fff;
    border-style: solid;
    border-width: 0 2px 2px 0;
    top: 10px;
    left: 16px;
    transform: rotate(45deg);
    height: 15px;
    width: 7px;
    font-size: xx-large;
}

/* Style the close button */
.close {
    position: absolute;
    right: 0;
    top: 0;
    padding: 12px 16px 12px 16px;
    font-size: xx-large;
}

.close:hover {
    background-color: #f44336;
    color: white;
    font-size: xx-large;
}

/* Style the header */
.header {
    background-color: #f44336;
    padding: 30px 40px;
    color: white;
    text-align: center;
    font-size: xx-large;
}

/* Clear floats after the header */
.header:after {
    content: "";
    display: table;
    clear: both;
    font-size: xx-large;
}

/* Style the input */
input {
    margin: 0;
    border: none;
    border-radius: 0;
    width: 75%;
    padding: 10px;
    float: left;
    font-size: xx-large;
}

/* Style the "Add" button */
.addBtn {
    padding: 10px;
    width: 25%;
    background: #d9d9d9;
    color: #555;
    float: left;
    text-align: center;
    font-size: xx-large;
    cursor: pointer;
    transition: 0.3s;
    border-radius: 0;
}

.addBtn:hover {
    background-color: #bbb;
    font-size: xx-large;
}
.calculator{
    background-color: #04AA6D;
  border: none;
  color: white;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  border-radius: 100%;
  position: fixed;
  top: 90%;
  right: 5%;
}